<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <title>Jobs</title>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Joboat</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
            </ul>
           
          </div>
        </div>
      </nav>
</head>
<body>

<div class="mainbox">
     <div class="head ">
          <h1 class="display-1">Let's get your Dream Job</h1>
          <div class="container justify-content-center tp">
            <div class="row justify-content-center" >
               <div class="col-6">
                   <p class="mtext">
                       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, odio. Ratione exercitationem, delectus porro maiores quis perferendis commodi possimus consectetur.
                   </p>
               </div>
            </div>
            <div class="row">
                <div class="col-6">
                        <a href="/login" class="btn btn-dark">Get Hired!</a>
                </div>
                <div class="col-6">
                    <a href="/login" class="btn btn-dark">Hire !</a>
                </div>
            </div>
        </div>
     </div>
</div>

   
</div>

<%- include("./partials/footer") %>